/* CSS Reset */
* {
  margin: 0;
  font-family: Calibri, sans-serif;
}

html {
  overflow: hidden;
  height: 100%;
}

.root {
  height: 100%;
}

.App {
  text-align: center;
  overflow: hidden;
  background-color: #ffffff;
  height: 100%;
}

/* Static Header, using Flexbox */
.navBar {
  display: flex;
  justify-content: left;
  /* Stop Items floating up */
  align-items: center;
  background-color: #5514b4;
  height: 80px;
}
.navBar * {
  color: #ffffff;
}
.navBar .BTimage {
  background-image: url("https://img01.bt.co.uk/s/assets/191120/images/logo/logo-2018.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  height: 80%;
  width: 12vh;
  margin-left: 10px;
  margin-right: 10px;
}
.navBar .title {
  color: #ffffff;
  display: inline-block;
  justify-content: center;
  font-weight: normal;
  font-size: 50px;
  /* Aligning with image */
  display: contents;
}

.mainContent {
  height: 100%;
  padding-top: 10px;
}
.mainContent * {
  color: #333333;
}
.mainContent .title {
  font-weight: normal;
}
.mainContent .searchInputForm {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainContent .searchInputForm .searchInput {
  vertical-align: middle;
  width: 60%;
  max-width: 550px;
  height: 36px;
  border: 1px solid #5514b4;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 18px;
}
.mainContent .searchInputForm button {
  vertical-align: middle;
  color: #ffffff;
  margin-left: 10px;
  background-color: #5514b4;
  border: none;
  border-radius: 5px;
  height: 40px;
  padding: 0 20px;
  border-radius: 5px;
  min-width: 80px;
  width: 30%;
  max-width: 350px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid white;
  caret-color: transparent;
  box-sizing: border-box;
}
.mainContent .searchInputForm button:hover {
  border-color: #333333;
  cursor: pointer;
  caret-color: transparent;
}
.mainContent .searchInputForm button:active {
  border-color: #333333;
}

.articleDisplay {
  width: 100%;
  display: flex;
  /* makes flex items go into column when small */
  flex-wrap: wrap;
  /* Scrollable for articleDisplay */
  overflow-y: scroll;
  height: 76vh;
  padding-bottom: 20px;
}
.articleDisplay * {
  font-family: Calibri, sans-serif;
}
.articleDisplay .fetchIndicator {
  width: 100%;
  align-items: center;
}
.articleDisplay .fetchIndicator h1 {
  font-weight: normal;
}
.articleDisplay .article {
  position: relative;
  margin: 10px;
  padding: 5px;
}
.articleDisplay .article .imageDiv {
  height: 20vh;
  width: 100%;
}
.articleDisplay .article .title {
  font-weight: bold;
  display: inline-block;
  padding: 5px;
  margin-top: 5px;
  font-size: 24px;
}
.articleDisplay .article .content {
  padding: 10px;
  display: inline-block;
  border-radius: 15px;
  margin-bottom: 10px;
}
.articleDisplay .article .author {
  font-weight: bold;
  margin-bottom: 20px;
}
.articleDisplay .article a {
  display: contents;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  background-color: blue;
  text-decoration: none;
}
.articleDisplay .article .link {
  background-color: #e60050;
  color: #ffffff;
  font-weight: bold;
  margin-top: 15px;
  padding: 15px;
  text-decoration: none;
  border-radius: 10px;
}
.articleDisplay .article .link:hover {
  border-color: #333333;
  cursor: pointer;
  caret-color: transparent;
}
@media screen and (max-width: 500px) {
  .articleDisplay .article .author {
    /* Author took up too much space on small screen so remove at 500px */
    display: none;
  }
}

@media screen and (max-height: 760px) {
  .articleDisplay {
    /* Adjust height for smaller screens like macbook */
    height: 73vh;
  }
}
@media screen and (min-width: 650px) {
  .articleDisplay {
    justify-content: center;
  }

  .articleDisplay .article {
    /* This is making items split in rows when screen size gets bigger  */
    flex: 1 1 30%;
    /*grow | shrink | basis */
  }
}
/* Static Footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #5514b4;
  height: 5vh;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
}
.footer h4 {
  color: white;
  justify-content: center;
  vertical-align: middle;
  font-weight: bold;
}

@media screen and (max-width: 400px) {
  .footer h4 {
    font-size: 15px;
    padding: 5px;
    margin-top: 5px;
  }
}

/*# sourceMappingURL=main.css.map */
